a{
    color: white;
    background-color: #555555;
    border: 2px solid #555555;
    border-radius: 10px;
    padding: 9px;
    margin: 8px;
    text-decoration: none;
}

a:hover{
    background-color: lightgray;
    color: black;
}

a:active{
    border-width: 4px;
}